# NeonDB
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GMAIL SMTP
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=

PLATFORM_API_SECRET=

# AWS User Creds
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=

# AWS S3 Bucket Configs
AWS_BUCKET_NAME=
AWS_REGION=

NEXT_PUBLIC_APP_URL=

# Maintainance Status
MAINTAINANCE_STATUS=false
ALLOW_REGISTER=true